.btn {
    margin-right: 5px;
}

.markAsDone {
    text-decoration: line-through; 
    color: #777;
}
.tableActions { 
    width: 105px;
}
.utilForm { 
    padding-bottom: 60px;
}

.navbar.navbar-inverse.bg-inverse {
    margin-top: 2%;
}

.app-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.app-container > .container {
    padding-right: 35px;
    padding-left: 0px;
}
.btn.btn-edit{
    background: #bd3737;
}
.btn.btn-edit{
    width: 38px;
    height: 34px;
    color: #fff;
    background: #de7676;
}
.btn.btn-success{
    width: 38px;
    height: 34px;
}
